.card-form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    gap: 1.5rem;
    margin: 0 auto;
    /* max-width: 50%;
    aspect-ratio: 4 / 3; */
    width: 600px;
    height: 450px;
}

.card {
    /* width: 420px;
    height: 250px; */
    background: #ddd;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    padding: 1rem;
}

.front {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}

.back {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    padding-left: 0;
    padding-right: 0;
}

button {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: center;
    width: 100%;
    height: 75%;
    border-radius: 5px;
    border-width: 3px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-top {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}

.full {
    grid-column: 1 / 3;
}

.bottom-row {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.mag-strip {
    grid-column: 1 / 3;
    height: 40px;
    background: black;
}

.cvc {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    justify-self: center;
}

.cvc input {
    width: 75px;
}

label,
input {
    display: block;
}

input {
    height: 25px;
}

.exp-inputs input {
    display: inline;
    width: 50px;
}

.card-logo p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}