@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header {
    background-color: #3b68dc;

}

body {
    background-color: #c7c5c5;
}

h1 {
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2 {
    text-align: center;
    padding-bottom: 1rem;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-color: 3px solid #ffffff;
}

.gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 5px 12px #000;
    display: block;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 4rem;
    row-gap: 2rem;
    justify-items: center;
    padding-bottom: 2rem;
}

footer {
    background-color: #3b68dc;
    text-align: center;
    color: white;
    padding: 1rem 0;
}

/* Reset list styles */
.menu-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Hide nav links on mobile */
.menu-links {
    display: none;
}


.menu-links li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.menu-links li a {
    text-decoration: none;
    color: #fff;
}

.menu-button {
    display: block;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
    font-size: large;
}

@media (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, auto);
    }


}

@media (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, auto);
    }

    .menu-links {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        /* horizontal layout */
    }

    .menu-button {
        display: none;
    }
}